/* src/assets/css/news-item.css */

.news-item {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensures it takes up full width of its container */
  max-width: 800px; /* Limit width for a consistent look */
  margin-bottom: 20px;
}

.news-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.news-item h3 {
  margin-top: 15px;
  font-size: 1.5em;
  text-align: center;
}

.news-item h3 a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.news-item h3 a:hover {
  color: #007bff;
}

.news-item p {
  margin: 10px 0;
  color: #666;
  text-align: justify;
}
